// Body
$body-bg: #f8fafc;
$border-radius:               0 !default;
$border-radius:               0 !default;
// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.95rem;
$line-height-base: 1.6;

// Colors
$orange: #f6993f;
$yellow: #ffed4a;
$blue: #4490ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #fff;
$black: #000;

$primary: #0d47a1;
$secondary: #C5CBE3;
$info: #ef9a9a;
$warning: #f57f17;
$danger: #ec407a;
$success: #26a69a;

$table-cell-padding:          .75rem !default;
$table-cell-padding-sm:       .3rem !default;

$table-hover-bg:              rgba($primary, .1);

$table-border-color:          rgba($primary,.1);

$table-head-color:            $primary !default;

$table-bg-level:              -9 !default;
$table-border-level:          -6 !default;

$sidebar-bg: lighten($secondary,1%);
$sidebar-sub-bg: lighten($primary, 50%);
$sidebar-color: $white;
$sidebar-width: 250px;
$sidebar-min-width: 80px;

$sidebar-dark-brand-color:  $white !default;
$sidebar-dark-brand-bg:     darken($primary,10) !default;

$sidebar-light-brand-color:  $white !default;
$sidebar-light-brand-bg:     $primary !default;

$sidebar-dark-color:    $white !default;
$sidebar-dark-bg:       darken($primary,20) !default;

$sidebar-light-bg:       $white !default;

$sidebar-dark-nav-link-active-color:       $white !default;
$sidebar-dark-nav-link-active-bg:          $primary !default;
$sidebar-dark-nav-link-active-icon-color:  $white !default;

$sidebar-light-nav-link-active-color:       rgba($black, .8) !default;
$sidebar-light-nav-link-active-bg:          rgba($black, .05) !default;
$sidebar-light-nav-link-active-icon-color:  $primary !default;


$theme-color: $primary;
$theme-color2: $secondary;
$theme-color3: $warning;
$theme-color4: $danger;

$box-shadow-sm:               0 .125rem .25rem rgba($primary, .075) !default;
$box-shadow:                  0 0 1rem 2px rgba($primary,.75) !default;
$box-shadow-lg:               0 1rem 3rem rgba($primary, .175) !default;

$modal-content-border-radius:       $border-radius !default;

$modal-content-box-shadow-xs:       0 .25rem .5rem rgba($primary, .5) !default;
//$modal-content-box-shadow-sm-up:    0 .5rem 1rem rgba($primary, .5) !default;
$modal-content-box-shadow-sm-up:    0 0 2px 5px rgba($primary,.175) !default;
